.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.button{
    background-color:rgb(76, 102, 102);
    color:white;
    width: 150px;
    height: 30px;
    border-radius: 20%;
    
}
.button:hover{
    background-color: rgb(68, 82, 82);
    width: 170px;
    height: 40px;

}

.img{
    width:350px;
}