.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  
  .button{
    background-color:rgb(76, 102, 102);
    color:white;
    width: 50px;
    height: 30px;
    align-self: flex-end;
    border-radius: 20%;
}
  
  .active {
    background-color: #333;
    color: #fff;
  }
  